-Drevision.org.eclipse.daanse.common=0.0.1-SNAPSHOT

-Drevision.org.eclipse.daanse.common.io=0.0.1-SNAPSHOT
-Drevision.org.eclipse.daanse.common.io.fs=0.0.1-SNAPSHOT
-Drevision.org.eclipse.daanse.common.io.fs.watcher=0.0.1-SNAPSHOT
-Drevision.org.eclipse.daanse.common.io.fs.watcher.api=0.0.1-SNAPSHOT
-Drevision.org.eclipse.daanse.common.io.fs.watcher.watcher=0.0.1-SNAPSHOT

-Drevision.org.eclipse.daanse.common.jakarta=0.0.1-SNAPSHOT
-Drevision.org.eclipse.daanse.common.jakarta.servlet=0.0.1-SNAPSHOT
-Drevision.org.eclipse.daanse.common.jakarta.servlet.soap=0.0.1-SNAPSHOT
